<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- VARIABILI DI CONTESTO -->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:postgresql://aa38g7gb5o7fwo.cap31ujhgu5y.us-east-2.rds.amazonaws.com:5432/mydb?user=ProgWeb&amp;password=Operativi1</param-value>
    </context-param>
    <context-param>
        <param-name>avatarsFolder</param-name>
        <param-value>images/avatars</param-value>
    </context-param>
    <context-param>
        <param-name>productsFolder</param-name>
        <param-value>images/products</param-value>
    </context-param>
    <context-param>
        <param-name>iconsFolder</param-name>
        <param-value>images/productCategories/icons</param-value>
    </context-param>
    <context-param>
        <param-name>logosFolder</param-name>
        <param-value>images/productCategories</param-value>
    </context-param>
    <!-- FILTRI -->
    <filter>
        <filter-name>ContextPathFilter</filter-name>
        <filter-class>filters.ContextPathFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <!-- FILTER MAPPING -->
    <filter-mapping>
        <filter-name>ContextPathFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
    <!-- LISTENER -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebAppContextListener</listener-class>
    </listener>
    <!-- SERVLET -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>servlets.MessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingListServlet</servlet-name>
        <servlet-class>servlets.ShoppingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingListCategoryServlet</servlet-name>
        <servlet-class>servlets.ShoppingListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <servlet-class>servlets.ProductCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>servlets.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareListsServlet</servlet-name>
        <servlet-class>servlets.ShareListsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>servlets.MapServlet</servlet-class>
    </servlet>
    <!-- SERVLET MAPPING -->
    <servlet>
        <servlet-name>IconsServlet</servlet-name>
        <servlet-class>servlets.IconsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadImages</servlet-name>
        <servlet-class>servlets.DownloadImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsSearchServlet</servlet-name>
        <servlet-class>servlets.ProductsSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersSearchServlet</servlet-name>
        <servlet-class>servlets.UsersSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/restricted/MessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingListServlet</servlet-name>
        <url-pattern>/restricted/ShoppingListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/restricted/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingListCategoryServlet</servlet-name>
        <url-pattern>/restricted/ShoppingListCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <url-pattern>/restricted/ProductCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/VerifyEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/restricted/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareListsServlet</servlet-name>
        <url-pattern>/restricted/ShareListsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IconsServlet</servlet-name>
        <url-pattern>/restricted/IconsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/MapServlet</url-pattern>
    </servlet-mapping>
    <!-- CONFIGURAZIONI -->
    <servlet-mapping>
        <servlet-name>DownloadImages</servlet-name>
        <url-pattern>/DownloadImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/restricted/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersSearchServlet</servlet-name>
        <url-pattern>/restricted/UsersSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsSearchServlet</servlet-name>
        <url-pattern>/restricted/ProductsSearchServlet</url-pattern>
        <url-pattern>/ProductsSearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
