.form-container{
    background-color: #fafafa;
    text-align: left;
    border: 2px solid #4290ff;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 3px 5px rgb(0,0,0,0.5);
}

textarea{
    height: 100px !important;
}
input[type="file"]{
    max-width: 300px;
    margin: 0 auto;
}

.form-container , input[type="file"]{
    max-width: 100%;
    margin: 0 auto;
}

.container-logo input[type="checkbox"]:checked + label{
    border: 2px solid red;
}
.container-logo input[type="radio"]:checked + label{
    border: 2px solid lightgreen;
    border-radius: 10px;
}

input[type="checkbox"]:checked + label > .my-text-content{
    text-decoration: line-through;
}
input[type="checkbox"]:checked + label > .medium-logo{
    filter: greyscale(100%);
    opacity: 0.5;
}
#avatar{
    display: none;
}
.select-custom{
    font-size: 16px;
    background-color:#eee;
    padding: 5px 7px 4px 7px;
    border-radius: 3px; 
    border: 1px solid #888;
    color: black;
    margin: 8px 1px 8px 1px;
    height: 32.5px;
    float: right;
}
.btn-custom{
    font-size: 16px;
    background-color:#eee;
    padding: 4px 7px 4px 7px;
    border-radius: 3px; 
    border: 1px solid #888;
    color: black;
    margin: 8px 1px 8px 1px;
}
.btn-custom:hover{
    background-color: #4290ff;
    color: white;
    border: 1px solid black;
}
.btn-del{
    font-size: 16px;
    background-color:#fc7979;
    padding: 4px 7px 4px 7px;
    border-radius: 3px; 
    border: 1px solid #e83737;
    color: black;
    margin: 8px 1px 8px 1px;
}
.btn-del:hover{
    background-color: #e83737;
    color: white;
    border: 1px solid white;
}

input:focus {
    outline: none;
}
.checkboxes-group{
    font: 15px monospace;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}
.groupped-ckbox{
    flex: 0 0 30%; 
    margin: 5px;
}
@media screen  and (max-width:525px){
    .groupped-ckbox{ 
        flex: 1 0 48%;
        margin: 5px;
    }
}
.input-img { 
    position: absolute; 
    top: 0px; 
    right: 0px;
    height: 20px;
    width: 20px;
}
.input-hide{
    display: none !important;
}
.chat{
    height: 180px;
    overflow-y: scroll;
}
.message{
    max-width: 250px;
    float: left;
    clear: both;
    background-color: lightskyblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.message-right{
    background-color: lightgreen;
    text-align: right;
    float: right;
}

label{
    margin-bottom: 0px;
}
