.form-container{
    background-color: #fafafa;
    text-align: left;
    border: 2px solid #4290ff;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 3px 5px rgb(0,0,0,0.5);
}
input[type="file"]{
    max-width: 300px;
    margin: 0 auto;
}

input[type="checkbox"]{
    /*display: none;*/
}

.container-logo input[type="checkbox"]:checked + label{
    border: 2px solid blue;
    border-radius: 10px;
}

input[type="checkbox"]:checked + label > .my-text-content{
    text-decoration: line-through;
}
#avatar{
    display: none;
}
.btn-default:hover{
    background-color: #ff6336;
    color: white;
}
.btn-custom{
    font-size: 17px;
    background-color:#ddd;
    padding: 4px 7px 4px 7px;
    border-radius: 0px; 
    border: 2px solid black;
    color: black;
    margin: 8px 1px 8px 1px;
}
input:focus {
    outline: none;
}
.checkboxes-group{
    font: 15px monospace;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
}
.groupped-ckbox{
    flex: 0 0 30%; 
    margin: 5px;
}
@media screen  and (max-width:525px){
    .groupped-ckbox{ 
        flex: 1 0 48%;
        margin: 5px;
    }
}
.checkbox-img { 
    position: absolute; 
    top: 0px; 
    right: 0px;
    height: 20px;
    width: 20px;
}
.chat{
    height: 180px;
    overflow-y: scroll;
}
.message{
    max-width: 250px;
    float: left;
    clear: both;
    background-color: lightskyblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.message-right{
    background-color: lightgreen;
    text-align: right;
    float: right;
}

label{
    margin-bottom: 0px;
}