/* 
    Created on : 19-set-2018, 14.27.14
    Author     : Fede
*/
body{
    background-color: #FCFCFC;
}
footer{
    background-color: #4cc417;
    color: #FFFFFF;
    padding: 25px;
}
.buttonlike{
    font: x-large monospace;
    text-decoration: none;
    background-color:#ff7f50;
    color:#FFFFFF;
    padding: 6px 9px 6px 9px;
    border-radius: 5px 5px;
    border: 1px solid #FFFFFF;    
}

.buttonlike-pagecontrol{
    font:large monospace;
    text-decoration: none;
    background-color:#157dec;
    color:#FFFFFF;
    padding: 5px 8px 5px 8px;
    border-radius: 3px 3px;
    border: 3px solid #15317e;    
}



