@media only screen and (max-width:1024px){
    .list-size-cust{
        width: 100% !important;
    }
}
.list-title{
    font-size: 19px;
    padding-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #4290ff;
    font-weight: bold;
}

.list-group{
    font-size:18px;
}
.my-list-item{
    padding: 5px;
}
.my-text-content{
    padding: 10px;
    float: left;
    height: 40px;
    line-height: 20px;
}

button.list-group-item-action-list{
    background-color:#B9E5FF;
    color:black;
    margin: 6px 0px 6px 0px;
    border:0px;
    height: 50px;
    line-height: 0px;
}
button.list-group-item-action-prod{
    background-color:#9AFF91;
    color:black;
    margin: 6px 0px 6px 0px;
    border:0px;
    height: 50px;
    line-height: 0px;
}
.list-group-item{
    font-size:18px;
    height: 50px;
}
.creat-but{
    margin-bottom: 5px !important;
    border: 1px solid #4290ff;
}
.list-element{
    display:inline-block;
    cursor: pointer;
}
.user-list-group{
    font-size:13px;
}
.user-list-button{
    display:block;
    background-color:#e6e6e6;
    padding: 0px 2px 0px 2px;
    border-radius: 2px 2px;
    margin: 0px 2px 3px 2px;
    border: 1px solid black;
}

.pre-scrollable{
    max-height:300px;
    overflow-y: auto;
    width: 100%;
    padding: 4px;
    /*box-shadow: 1px 3px #dee9fc;*/
}
@media only screen and (min-width:800px){
    div.pre-scrollable{
        min-height:450px;
        max-height:450px;
    }
}
@media only screen and (max-width:800px){
    div.pre-scrollable{
        min-height:150px;
        max-height:450px;

    }
}
.dd-list{
    padding:0px 15px 0px 15px;
}
@media only screen and (min-width:447px){

.descript{
    margin-top:30px;
}
}
