@media only screen and (max-width:768px){
    .list-size-cust{
        width: 100% !important;
    }
    .antepr{
        display:none;
    }
}
.list-title{
    display: inline-block;
    font-size: 19px;
    padding-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #4290ff;
    font-weight: bold;
}
.list-group{
    font-size:18px;
    margin-bottom: 0px
}
.my-list-item{
    padding: 5px;
}
.width-1{
    width: calc(100% - 40px) !important;
}
.my-text-content{
    padding: 10px;
    height: 40px;
    line-height: 20px;
    cursor: pointer;
}
.list-group-item{
    font-size:18px;
    height: 50px;
    display: flex;
}


.list-element{
    display:inline-block;
    cursor: pointer;
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
list-actions{
    float:right;
    white-space: nowrap;
}
.user-list-group{
    font-size:13px;
}
.list-btn-custom{
    background-color:#eee;
    padding: 4px 7px 4px 7px;
    border-radius: 3px; 
    border: 1px solid #888;
    color: black;
    margin: 8px 1px 8px 1px;
    font-size: 18px;
    height: 45px;
    width: 100%;
}
.list-btn-custom:hover{
    background-color: #4290ff;
    color: white;
    border: 1px solid white;
}
.pre-scrollable{
    max-height:300px;
    overflow-y: auto;
    width: 100%;
    padding: 4px;
}
@media only screen and (min-width:769px){
    div.pre-scrollable{
        min-height:450px;
        max-height:450px;
    }
}

@media only screen and (min-width:447px){
    .descript{
        margin-top:30px;
    }
}
