.small-logo{
    width: 100%;
    object-fit: cover;
    height: 30px;
    width:30px;
    float:left;
    margin-right:10px;
}
.medium-logo{
    width: 100%;
    object-fit: cover;
    height: 40px;
    width:40px;
    float:left;
}
.logo{
    width: 100%;
    object-fit: cover;
    height: 75px;
    width: 75px;
    float:left;
    margin-right:10px;
}
.big-logo{
    width: 100%;
    object-fit: cover;
    height: 100px;
    width:100px;
    float:left;
    margin-right:10px;
}
.fit-logo{
    width: 100%;
    object-fit: cover;
    height: 75px;
    width: 75px;
}
.container-logo {
    position: relative;
    width: 75px; 
    height: 75px; 
    float: left; 
    margin-left: 20px; 
}

.list-logo-right{
    float: right;
    height: 25px;
    width: 25px;
    line-height: 0px;
    margin: 10px;
    cursor: pointer;
    vertical-align:middle;
}