.small-logo{
    width: 100%;
    object-fit: cover;
    height: 30px;
    width:30px;
    float:left;
    margin-right:10px;
}
.logo{
    width: 100%;
    object-fit: cover;
    height: 75px;
    width: 75px;
    float:left;
    margin-right:10px;
}
.big-logo{
    width: 100%;
    object-fit: cover;
    height: 100px;
    width:100px;
    float:left;
    margin-right:10px;
}
.fit-logo{
    width: 100%;
    object-fit: cover;
    height: 75px;
    width: 75px;
}
.container-logo {
    position: relative;
    width: 75px; 
    height: 75px; 
    float: left; 
    margin-left: 20px; 
}