.panel > .panel-heading-custom {
    background-color: #ddd;
    font: 17px sans-serif;
    text-align: center;
    padding:10px;
    color: black;
    border-bottom: 2px solid #aaa;
    border-radius: 10px 10px 0px 0px; 
    cursor: pointer;
}
.panel-default-custom {
    border:none;
    border-radius: 10px 10px 0px 0px;
    background-color: #eee;
    box-shadow: 3px 5px rgb(26,56,100,0.5);
}
.panel-body-custom{
    width:100%;
    border-radius: 0px;
    display:block;
    padding:8px;
    background-color: #eee;
}
.panel-body-custom > img {
    height:230px;
}
