.panel > .panel-heading-custom {
    background-color: #ff9d5e;
    padding:10px;
    color: black;
}
.panel > .panel-footer-custom {
    background-color: #ff9d5e;
    padding:10px;
    color: black;
}
.panel-default-custom {
    border-color: #ff9d5e;
    border-radius: 13px;
}

