.panel-heading-custom{
    padding:10px;
    color: black;
    border-radius: 10px 10px 0px 0px;
}
.panel-body-custom{
    border:0px;
}
.panel-footer-custom {
    padding:10px;
    color: black;
    border: none;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}
.prod-category{
        background-color: #9AFF91;
}
.list-category{
        background-color: #B9E5FF;
}
.category-list{
    margin: 0px;
}

