.table-custom{
    max-width: 400px;
    margin: 0 auto;
    table-layout: fixed;
}
td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
@media screen and (min-width: 500px) {
    td {
        width:200px;
    }}
@media screen and (min-width: 700px) {
    td {
        width:350px;
    }}
@media screen and (min-width: 1200px) {
    td {
        width:500px;
    }}
*/